:root {
  --color-text-default: #222327;
  --color-text-grey: #a1a7b5;
  --color-link-default: #0c5bef;
  --color-link-hover: #0029a9;
  --color-brend-primary: #0f62fe;
  --backgroung-main: #fff;
  --background-light: #f0f6fe;
}
